// ----
// Sass (v3.4.4)
// Compass (v1.0.1)
// ----

@import 'bootstrap/sass/bootstrap-custom';


body {
  background-image: url('images/photo.jpg');
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
    display: inline;
  }
}

#wrapper {
  padding-left: 0;
/*  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;*/
  transition: all 0.5s ease;
  .toggled {
    padding-left: 250px;
  }
  .toggled {
    .sidebar-wrapper {
      width: 250px;
    }
    .page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  }
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.sidebar-wrapper {
    z-index: 10;
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #000;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;*/
    transition: all 0.5s ease;
}

.slide {
  width: 600px;
}

.chat-button {
  position:fixed;
  z-index:20;
  right:0;
}

.chat-button {
  position: fixed;
  z-index: 20;
  right: 0; 
}

#chat-space-top {
  margin-top:50px;
}

body {
  color: white;
}


