// ----
// Sass (v3.4.4)
// Compass (v1.0.1)
// ----

@import 'bootstrap/sass/bootstrap-custom';

//chat bar

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 40px;
  }
  li a {
    display: block;
    text-decoration: none;
    color: #999999;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: rgba(255,255,255,0.2);
    }
    &:active, &:focus {
      text-decoration: none;
    }
  }
  .sidebar-brand {
    color: #999999;
    &:hover {
      color: #fff;
      background: none;
    }
  }
}

#wrapper {
  padding-left: 0;
/*  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;*/
  transition: all 0.5s ease;
  .toggled {
    padding-left: 250px;
  }
  .toggled {
    .sidebar-wrapper {
      width: 250px;
    }
    .page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }
  }
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.sidebar-wrapper {
    z-index: 10;
    position: fixed;
    right: 0;
    width: 0;
    height: 100%;
    overflow-y: auto;
    background: #000;
/*    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;*/
    transition: all 0.5s ease;
}

.slide {
  width: 450px;
}

@media(min-width:768px) {
    .sidebar-wrapper {
        width: 450px;
    }
}



